/* Sticky footer styles
 * ------------------------------*/
@import url('//fonts.googleapis.com/css?family=Noto+Sans');

html,
body {
  height: 100%;
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

#footer {
  height: 60px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Custom page styles
 * ------------------------------*/
#wrap > .container {
  padding-top: 60px;
}
.container .credit {
  margin: 20px 0;
}
