/* Sticky footer styles
 * ------------------------------*/
@import url('//fonts.googleapis.com/css?family=Noto+Sans');

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Noto Sans', sans-serif;
  margin: 0 0 75px; /* bottom = footer height */
  margin-top: 75px;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 75px;
  width: 100%;
}
/*-------------------------------*/

